#mapid {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px; 
    width: 100%;
    z-index: 1;
}

#business_autocomplete {
}

#submit {
    color: black;
}

.ui-autocomplete-input {    
    color:black;

}

.ui-autocomplete {
    background-color: yellowgreen;
    color:yellow;
}

.input {
    overflow: hidden;
    white-space: nowrap;
    color:red;
}

.ui-menu-item {

}