{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_me/about_me.css') }}">
{% endblock %}

{% block app_content %}
<div class="container">
  <div class="row glass-effect">
    <div class="col-md-2">
    </div>
      <div class="col-md-4">
        <img src="{{ image_file_me }}" id="resized_image">
        <br><br>
        <a id="cv_button" target="_blank" href="{{ url_for('static', filename='pdf/CV_WillyTim.pdf') }}" >{{ _("Curriculum Vitae") }}</a>
      </div>
      <div class="col-md-5">
          <p id="introduction">
            {{ _("Hello and welcome to my website. On this page, you will have an 
                overview of my background, my interests and my skills. On this site,
                you can try to create an account and navigate through the different 
                settings as if it were a social network, you can explore the 
                different businesses in Montreal and their status and finally change the 
                language.") }}</p>
          <br>
          <p id="introduction">
            {{ _("Thank you and enjoy your visit! :)") }}
          </p>
      </div>
  </div>
  <br><br>
  <div class="row glass-effect" id="information">
    <h1>{{ _("My skills")}}</h1>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      {{ _("Python")}}
    </div>
  </div>
</div>
<div class="timeline">
    <div class="timeline__component">
      <div class="timeline__date timeline__date--right">{{ _('August 2014') }}</div>
    </div>
    <div class="timeline__middle">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component timeline__component--bg">
      <h2 class="timeline__title">{{ _('Social Science') }}</h2>
      <p class="timeline__paragraph">
        {{ _('Montmorency College') }}
      </p>
    </div>


    <div class="timeline__component timeline__component--bg">
      <h2 class="timeline__title">{{ _('Bachelor of Career Development') }}</h2>
      <p class="timeline__paragraph">
        {{ _('University of Quebec At Montreal') }}
      </p>
      <p class="timeline__paragraph">
        <ul>
          <li>{{ _("Membre du salon national de l'emploi en 2016") }}</li><br>
          <li>{{ _("Animation sur les emplois à la portée des détenus dans un milieu carcéral à Laval") }}</li><br>
          <li>{{ _("Réaliser des animations sur la gestion du stress auprès d'un groupe d'adulte") }}</li><br>
        </ul>
      </p>
    </div>
    <div class="timeline__middle">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component">
      <div class="timeline__date">{{ _('August 2016') }}</div>
    </div>


    <div class="timeline__component">
      <div class="timeline__date timeline__date--right">{{ _('August 2019') }}</div>
    </div>
    <div class="timeline__middle">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component timeline__component--bg">
      <h2 class="timeline__title">{{ _('Bachelor of Computer Science and Software Engineering') }}</h2>
      <p class="timeline__paragraph">
      {{ _("University of Quebec At Montreal")}}
      </p>
    </div>


    <div class="timeline__component timeline__component--bottom timeline__component--bg">

    </div>
    <div class="timeline__middle">
      <div class="timeline__point"></div>
      <div class="timeline__point timeline__point--bottom"></div>
    </div>
    <div class="timeline__component timeline__component--bottom">
      <div class="timeline__date">{{ _("May 2022")}}</div>
    </div>
    
  </div> 
  <div class="row glass-effect" id="information">
    <h1>{{ _("Photography")}}</h1>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="photo-gallery">
          <img src="{{ image_file_photography_1 }}" alt="{{ _('Photo 1') }}" class="gallery-image" data-image="{{ image_file_photography_1 }}" data-toggle="modal" data-target="#imageModal">
          <img src="{{ image_file_photography_2 }}" alt="{{ _('Photo 2') }}" class="gallery-image" data-image="{{ image_file_photography_2 }}" data-toggle="modal" data-target="#imageModal">
          <img src="{{ image_file_photography_3 }}" alt="{{ _('Photo 3') }}" class="gallery-image" data-image="{{ image_file_photography_3 }}" data-toggle="modal" data-target="#imageModal">
          <img src="{{ image_file_photography_4 }}" alt="{{ _('Photo 4') }}" class="gallery-image" data-image="{{ image_file_photography_4 }}" data-toggle="modal" data-target="#imageModal">
          <img src="{{ image_file_photography_5 }}" alt="{{ _('Photo 5') }}" class="gallery-image" data-image="{{ image_file_photography_5 }}" data-toggle="modal" data-target="#imageModal">
          <img src="{{ image_file_photography_6 }}" alt="{{ _('Photo 6') }}" class="gallery-image" data-image="{{ image_file_photography_6 }}" data-toggle="modal" data-target="#imageModal">
          <img src="{{ image_file_photography_7 }}" alt="{{ _('Photo 7') }}" class="gallery-image" data-image="{{ image_file_photography_7 }}" data-toggle="modal" data-target="#imageModal">
          <img src="{{ image_file_photography_8 }}" alt="{{ _('Photo 8') }}" class="gallery-image" data-image="{{ image_file_photography_8 }}" data-toggle="modal" data-target="#imageModal">
        </div>
    </div>
  </div>

  <!-- Modale pour l'aperçu de l'image -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">{{ _("Image Preview") }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="modal-image" src="" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
      // Script pour changer l'image dans la modale
      $(document).ready(function() {
        $('.gallery-image').click(function() {
          var imageSrc = $(this).data('image');
          $('#modal-image').attr('src', imageSrc);
          $('#imageModal').modal('show');
        });
      });
    </script>
{% endblock %}