{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_me/about_me.css') }}">
{% endblock %}

{% block app_content %}

<div class="timeline-container">
    <div class="timeline-item">
      <h2>h1</h2>
      <p>test</p>
    </div>
    <div class="timeline-item">
      <h2>h2</h2>
      <p>test</p>
    </div>
    <div class="timeline-item">
      <h2>h3</h2>
      <p>test</p>
    </div>
    <div class="timeline-item">
      <h2>h4</h2>
      <p>test</p>
    </div>
</div>

<div class="timeline">
    <div class="timeline__component">
      <div class="timeline__date timeline__date--right">August 2014</div>
    </div>
    <div class="timeline__middle">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component timeline__component--bg">
      <h2 class="timeline__title">Sciences Humaines</h2>
      <p class="timeline__paragraph">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
      </p>
    </div>


    <div class="timeline__component timeline__component--bg">
      <h2 class="timeline__title">Baccalauréat en développement de carrière</h2>
      <p class="timeline__paragraph">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      </p>
      <p class="timeline__paragraph">
        Contrary to popular belief, Lorem Ipsum is not simply random text.
      </p>
    </div>
    <div class="timeline__middle">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component">
      <div class="timeline__date">August 2016</div>
    </div>


    <div class="timeline__component">
      <div class="timeline__date timeline__date--right">August 2019</div>
    </div>
    <div class="timeline__middle">
      <div class="timeline__point"></div>
    </div>
    <div class="timeline__component timeline__component--bg">
      <h2 class="timeline__title">Baccalauréat en informatique et génie logiciel</h2>
      <p class="timeline__paragraph">
        Contrary to popular belief, Lorem Ipsum is not simply random text.
      </p>
    </div>


    <div class="timeline__component timeline__component--bottom timeline__component--bg">
      <h2 class="timeline__title">Fin</h2>
      <p class="timeline__paragraph">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      </p>
      <p class="timeline__paragraph">
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
      </p>
    </div>
    <div class="timeline__middle">
      <div class="timeline__point"></div>
      <div class="timeline__point timeline__point--bottom"></div>
    </div>
    <div class="timeline__component timeline__component--bottom">
      <div class="timeline__date">May 2022</div>
    </div>
  </div> 


{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}