html {
    background-repeat:no-repeat;
    min-height: 100%;
    width: 100%;
    height: auto;
}

body {
    background-image: linear-gradient(to left bottom, #5dece3, #46e1ee, #41d6f5, #51c9f7, #68bbf4, #78b1f1, #89a6eb, #9a9ae1, #aa8fd8, #ba83ca, #c777b9, #d16ba5);    color: #EFEFEF;
    width: 100%;
    color: #EFEFEF;
}

/* Whole navbar */
.navbar-custom {
	position: sticky;
	top: 0;
    z-index: 2;
    -webkit-box-shadow: -5px 1px 11px 8px rgba(0,0,0,0.10); 
    box-shadow: -5px 1px 11px 8px rgba(0,0,0,0.10);
    width: 100%;
    color: #EFEFEF;
    background-image: linear-gradient(to left,#41d6f5, #51c9f7, #68bbf4, #78b1f1, #89a6eb); /* Dégradé plus léger */


}

/* Link on navbar */
.navbar-custom a {
    color: #EFEFEF;
}

.navbar-custom a:hover {
}

/* Link on navbar while hovering */
.navbar-custom ul li a:hover {
    background-color: transparent;
}

/* Background color on language select */
.navbar-custom ul li .lang_active {
    background-color: #DEE1E1;
}

/* Dropdown result */
.dropdown-menu>li>a {
    color: #333;
}

/* Adding this to fix the background-color appearing after a double click on
   a dropdown button and hovering the mouse out */
#dropdownMenuLink {
    background-color: transparent;
}

/* Dropdown box */
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav .btn-secondary{ 
    color: white;
}

.dropdown-toggle {
    background-color: transparent;
}

/* Cursor hovering over a result on a dropdown selection */ 
.dropdown-menu li a:hover {
    background-color: #B8B8B8 !important;
}

/* Dropdown arrow */
.dropdown .caret {
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.dropdown.open .caret {
    transform: rotate(180deg);
}

.nav-link-ltr {
    position: relative;
    text-decoration: none;
    color: #fff;
  }
  
.nav-link-ltr:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.17s ease-in-out 0s;
}
  
.nav-link-ltr:hover:after {
    visibility: visible;
    transform: scaleX(1);
}

/* Ajustement de la barre de recherche */
.form-group {
    padding-top:4px;
}


/* TODO: 3 lignes lorsque la page d'affichage est petite, fonctionnel mais à revoir pour mieux peaufiner */ 
.navbar-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
}