.container {

}

html {
    background-repeat:no-repeat;
    min-height: 100%;
    min-width: 1024px;
  
    width: 100%;
    height: auto;
}

body {
    background-image: linear-gradient(to left bottom, #a582cd, #9772c1, #8862b6, #7a52aa, #6b429f, #5f3891, #542e84, #482477, #3d1e65, #321853, #271242, #1d0c32);
    width: 100%;
    color: #EFEFEF;
}

.navbar-custom {
    color: #EFEFEF;
	position: sticky;
	top: 0;
    z-index: 1;
}
.navbar-custom a {
    color: #EFEFEF;
}

.navbar-custom a:hover {
    background-color: #AFC3FA;
}

.navbar-custom ul li a:hover {
    background-color: #AFC3FA;
}

.navbar-custom ul li .lang_active {
    background-color: #DEE1E1;
}

.dropdown .caret {
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.dropdown.open .caret {
    transform: rotate(180deg);
}