.container {

}

body {
    background-image: linear-gradient(to right, #1D0C32, #32135A ,#582D90, #A582CD),
                      linear-gradient(to bottom, blue, yellow);
    color: #EFEFEF;
}

.navbar-custom {
    background-image: linear-gradient(to right, #1D0C32, #32135A ,#582D90, #A582CD),
    linear-gradient(to bottom, blue, yellow);
    color: #EFEFEF;
}
.navbar-custom a {
    color: #EFEFEF;
}

.navbar-custom a:hover {
    background-color: #AFC3FA;
}

.navbar-custom ul li a:hover {
    background-color: #AFC3FA;
}

.navbar-custom ul li .lang_active {
    background-color: #DEE1E1;
}