body {
    background-image: linear-gradient(to left bottom, #5dece3, #46e1ee, #41d6f5, #51c9f7, #68bbf4, #78b1f1, #89a6eb, #9a9ae1, #aa8fd8, #ba83ca, #c777b9, #d16ba5);    color: #EFEFEF;
}
  
  .timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
  }
  
  .timeline__component {
    margin: 0 20px 20px 20px;
  }
  
  .timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  /* LEAVE TILL LAST */
  .timeline__component--bottom {
    margin-bottom: 0;
  }
  
  .timeline__middle {
    position: relative;
    background: #ffffff;
  }
  
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
  }
  
  /* LEAVE TILL LAST */
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
  }
  
  .timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
  }
  
  .timeline__paragraph {
    line-height: 1.5;
  }
  


  
  
  .timeline-container {
    position: relative;
    height: 100vh;
  }
  
  .timeline-item {
    position: sticky;
    top: 100px;
    padding: 20px;
    background-color: black;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .timeline-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .timeline-item p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .timeline-item:nth-child(odd) {
    transform: translateX(100%);
    animation: slide-in 1s forwards;
  }
  
  .timeline-item:nth-child(even) {
    transform: translateX(-100%);
    animation: slide-in 1s forwards;
  }
  
  @keyframes slide-in {
    to {
      transform: translateX(0);
    }
  }
  