#introduction {
  font-size: 22px;
  text-align: justify;
}

#information h1 {
  text-align: center;
}

#cv_button {
  background-color: #0074d9; /* Couleur de fond bleue */
  color: #fff; /* Couleur du texte blanc */
  border: none; /* Pas de bordure */
  padding: 10px 20px; /* Rembourrage intérieur pour le bouton */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de la main au survol */
}

#cv_button:hover {
  background-color: #0056b3; /* Couleur de fond légèrement plus sombre au survol */

}

  .timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
  }
  
  .timeline__component {
    margin: 0 20px 20px 20px;
  }
  
  .timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  /* LEAVE TILL LAST */
  .timeline__component--bottom {
    margin-bottom: 0;
  }
  
  .timeline__middle {
    position: relative;
    background: #ffffff;
  }
  
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
  }
  
  /* LEAVE TILL LAST */
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
  }
  
  .timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
  }
  
  .timeline__paragraph {
    line-height: 1.5;
  }
  


  
  
  .timeline-container {
    position: relative;
    height: 100vh;
  }
  
  .timeline-item {
    position: sticky;
    top: 100px;
    padding: 20px;
    background-color: black;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .timeline-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .timeline-item p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .timeline-item:nth-child(odd) {
    transform: translateX(100%);
    animation: slide-in 1s forwards;
  }
  
  .timeline-item:nth-child(even) {
    transform: translateX(-100%);
    animation: slide-in 1s forwards;
  }
  
  @keyframes slide-in {
    to {
      transform: translateX(0);
    }
  }

#resized_image {
  width: 240px; /* Largeur souhaitée en pixels */
  height: auto; /* Laissez la hauteur s'ajuster automatiquement pour maintenir les proportions */
  position: relative;
  border-radius: 8px; /* Arrondir les coins des images */
  box-shadow: 0 42px 82px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
}

.photo-gallery {
  display: flex;
  height: auto;
  flex-wrap: wrap; /* Permet de passer à la ligne suivante lorsque l'espace est insuffisant */
  justify-content: center; /* Centre les images horizontalement */
  margin: 20px; /* Espacement au-dessus de la galerie */
}

.photography_description {
  font-size: 24px; /* Taille de la police */
  font-weight: bold; /* Épaisseur de la police */
  text-align: center; /* Centrer le texte */
  margin: 20px 0; /* Marges supérieure et inférieure */
  line-height: 1.5; /* Hauteur de ligne pour l'espacement */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Ombre pour donner du relief */
}
.gallery-image {
  width: calc(25% - 10px); /* Quatre images par ligne avec un espacement de 10px */
  margin: 5px; /* Espacement entre les images */
  border-radius: 8px; /* Arrondir les coins des images */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
  transition: transform 0.3s; /* Animation lors du survol */
}

.gallery-image:hover {
  transform: scale(1.15); /* Légère augmentation de taille au survol */
}

#modal-image {
  display: block;
  margin: auto; /* Centre l'image */
  max-width: 100%; /* Empêche l'image de dépasser la largeur de la modale */
  height: auto; /* Maintient le ratio de l'image */
}

.modal-title {
  color: black;
}